<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulin.bus.mapper.AccidentMapper">
    
    <resultMap type="Accident" id="AccidentResult">
        <result property="accidentId"    column="accident_id"    />
        <result property="accidentName"    column="accident_name"    />
        <result property="accidentTypeId"    column="accident_type_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="modifyUserId"    column="modify_user_id"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="punishId"    column="punish_id"    />
        <result property="punishName"    column="punish_name"    />
        <result property="accidentTypeName"    column="accident_type_name"    />
    </resultMap>
	
	<sql id="selectAccidentVo">
        SELECT
            accident_id,
            accident_name,
            T.accident_type_id,
            accident_type_name,
            P.punish_id,
            punish_name
        FROM
            jx_accident A
                LEFT JOIN
            jx_accident_type T ON A.accident_type_id = T.accident_type_id
                LEFT JOIN
            jx_punish P ON A.punish_id = P.punish_id
    </sql>
	
    <select id="selectAccidentList" parameterType="Accident" resultMap="AccidentResult">
        <include refid="selectAccidentVo"/>
        <where>  
            <if test="accidentId != null  and accidentId != '' "> and accident_id = #{accidentId}</if>
             <if test="accidentName != null  and accidentName != '' "> and accident_name = #{accidentName}</if>
             <if test="accidentTypeId != null  and accidentTypeId != '' "> and T.accident_type_id = #{accidentTypeId}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
             <if test="createUserId != null  and createUserId != '' "> and create_user_id = #{createUserId}</if>
             <if test="modifyUserId != null  and modifyUserId != '' "> and modify_user_id = #{modifyUserId}</if>
             <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
             <if test="punishId != null  and punishId != '' "> and punish_id = #{punishId}</if>
         </where>
    </select>
    
    <select id="selectAccidentById" parameterType="String" resultMap="AccidentResult">
        <include refid="selectAccidentVo"/>
        where accident_id = #{accidentId}
    </select>
        
    <insert id="insertAccident" parameterType="Accident">
        insert into jx_accident
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="accidentId != null  and accidentId != ''  ">accident_id,</if>
			<if test="accidentName != null  and accidentName != ''  ">accident_name,</if>
			<if test="accidentTypeId != null  and accidentTypeId != ''  ">accident_type_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="modifyTime != null  ">modify_time,</if>
			<if test="createUserId != null  and createUserId != ''  ">create_user_id,</if>
			<if test="modifyUserId != null  and modifyUserId != ''  ">modify_user_id,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
			<if test="punishId != null  and punishId != ''  ">punish_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="accidentId != null  and accidentId != ''  ">#{accidentId},</if>
			<if test="accidentName != null  and accidentName != ''  ">#{accidentName},</if>
			<if test="accidentTypeId != null  and accidentTypeId != ''  ">#{accidentTypeId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="modifyTime != null  ">#{modifyTime},</if>
			<if test="createUserId != null  and createUserId != ''  ">#{createUserId},</if>
			<if test="modifyUserId != null  and modifyUserId != ''  ">#{modifyUserId},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
			<if test="punishId != null  and punishId != ''  ">#{punishId},</if>
         </trim>
    </insert>
	 
    <update id="updateAccident" parameterType="Accident">
        update jx_accident
        <trim prefix="SET" suffixOverrides=",">
            <if test="accidentName != null  and accidentName != ''  ">accident_name = #{accidentName},</if>
            <if test="accidentTypeId != null  and accidentTypeId != ''  ">accident_type_id = #{accidentTypeId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="modifyTime != null  ">modify_time = #{modifyTime},</if>
            <if test="createUserId != null  and createUserId != ''  ">create_user_id = #{createUserId},</if>
            <if test="modifyUserId != null  and modifyUserId != ''  ">modify_user_id = #{modifyUserId},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
            <if test="punishId != null  and punishId != ''  ">punish_id = #{punishId},</if>
        </trim>
        where accident_id = #{accidentId}
    </update>

	<delete id="deleteAccidentById" parameterType="String">
        delete from jx_accident where accident_id = #{accidentId}
    </delete>
	
    <delete id="deleteAccidentByIds" parameterType="String">
        delete from jx_accident where accident_id in 
        <foreach item="accidentId" collection="array" open="(" separator="," close=")">
            #{accidentId}
        </foreach>
    </delete>
    
</mapper>