<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulin.bus.mapper.PunishMapper">
    
    <resultMap type="Punish" id="PunishResult">
        <result property="punishId"    column="punish_id"    />
        <result property="punishName"    column="punish_name"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="monthLength"    column="month_length"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="modifyUserId"    column="modify_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>
	
	<sql id="selectPunishVo">
        select punish_id, punish_name, delete_flag, month_length, create_user_id, modify_user_id, create_time, modify_time from jx_punish
    </sql>
	
    <select id="selectPunishList" parameterType="Punish" resultMap="PunishResult">
        <include refid="selectPunishVo"/>
        <where>  
            <if test="punishId != null  and punishId != '' "> and punish_id = #{punishId}</if>
             <if test="punishName != null  and punishName != '' "> and punish_name = #{punishName}</if>
             <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
             <if test="monthLength != null "> and month_length = #{monthLength}</if>
             <if test="createUserId != null  and createUserId != '' "> and create_user_id = #{createUserId}</if>
             <if test="modifyUserId != null  and modifyUserId != '' "> and modify_user_id = #{modifyUserId}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
         </where>
    </select>
    
    <select id="selectPunishById" parameterType="String" resultMap="PunishResult">
        <include refid="selectPunishVo"/>
        where punish_id = #{punishId}
    </select>
        
    <insert id="insertPunish" parameterType="Punish">
        insert into jx_punish
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="punishId != null  and punishId != ''  ">punish_id,</if>
			<if test="punishName != null  and punishName != ''  ">punish_name,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
			<if test="monthLength != null  ">month_length,</if>
			<if test="createUserId != null  and createUserId != ''  ">create_user_id,</if>
			<if test="modifyUserId != null  and modifyUserId != ''  ">modify_user_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="modifyTime != null  ">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="punishId != null  and punishId != ''  ">#{punishId},</if>
			<if test="punishName != null  and punishName != ''  ">#{punishName},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
			<if test="monthLength != null  ">#{monthLength},</if>
			<if test="createUserId != null  and createUserId != ''  ">#{createUserId},</if>
			<if test="modifyUserId != null  and modifyUserId != ''  ">#{modifyUserId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="modifyTime != null  ">#{modifyTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePunish" parameterType="Punish">
        update jx_punish
        <trim prefix="SET" suffixOverrides=",">
            <if test="punishName != null  and punishName != ''  ">punish_name = #{punishName},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
            <if test="monthLength != null  ">month_length = #{monthLength},</if>
            <if test="createUserId != null  and createUserId != ''  ">create_user_id = #{createUserId},</if>
            <if test="modifyUserId != null  and modifyUserId != ''  ">modify_user_id = #{modifyUserId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="modifyTime != null  ">modify_time = #{modifyTime},</if>
        </trim>
        where punish_id = #{punishId}
    </update>

	<delete id="deletePunishById" parameterType="String">
        delete from jx_punish where punish_id = #{punishId}
    </delete>
	
    <delete id="deletePunishByIds" parameterType="String">
        delete from jx_punish where punish_id in 
        <foreach item="punishId" collection="array" open="(" separator="," close=")">
            #{punishId}
        </foreach>
    </delete>
    
</mapper>