<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-scoreRecord-edit" th:object="${scoreRecord}">
            <input id="scoreRecordId" name="scoreRecordId" th:field="*{scoreRecordId}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">用户</label>
				<div class="col-sm-8">
					<select class="form-control" id="userId" name="userId" placeholder="请选择用户">
						<option th:each="sysUser:${sysUsers}"
								th:value="${sysUser.userId}"
								th:text="${sysUser.userName}"
								th:selected="${sysUser.userId == scoreRecord.userId}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">规则</label>
				<div class="col-sm-8">
					<select class="form-control" id="ruleId" name="ruleId" placeholder="请选择规则">
						<option th:each="rule:${rules}"
								th:value="${rule.ruleId}"
								th:text="${rule.ruleName}"
								th:selected="${rule.ruleId == scoreRecord.ruleId}"></option>
					</select>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bus/scoreRecord";
		$("#form-scoreRecord-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-scoreRecord-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
