<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rule-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">规则名：</label>
				<div class="col-sm-8">
					<input id="ruleName" name="ruleName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">规则类别</label>
				<div class="col-sm-8">
					<select class="form-control" id="ruleTypeId" name="ruleTypeId" placeholder="规则类别">
						<option th:each="ruleType:${ruleTypes}" th:value="${ruleType.ruleTypeId}" th:text="${ruleType.ruleTypeName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规则分数：</label>
				<div class="col-sm-8">
					<input id="score" name="score" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">选择部门</label>
				<div class="col-md-4">
					<table class="table">
						<tr>
							<td>序号</td>
							<td>部门</td>
							<td>选择</td>
						</tr>
						<tbody id="deptDatas">
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">

        $.ajax({
            url: '/system/dept/json',
            type: 'get',
            data: {},
            success: function (result) {
                $("#deptDatas").empty();

                var depts = '';

                $.each(result.depts, function (index, value) {

                    depts += '<tr><td>' + (index + 1) + '</td><td>'
                        + value.deptName + '</td><td><input type="checkbox" name = "deptIds" value = "'
                        + value.deptId + '" /></td></tr>';
                });

                $("#deptDatas").append(depts);
            }
        });
		$("#form-rule-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(ctx + "system/dept/add", $('#form-rule-add').serialize());
	        }
	    }
	</script>
</body>
</html>
