<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								用户名称：
								<select name = "userId" id = "userId">
							    </select>
							</li>

							<li>
								部门：
								<select name = "deptId" id = "deptId">
								</select>
							</li>

							<li>
								处罚方法：
								<select name = "punishId" id = "punishId">
								</select>
							</li>

							<li>
								事故类型：
								<select name = "accidentTypeId" id = "accidentTypeId">
								</select>
							</li>

							<li>
								事故：
								<select name = "accidentId" id = "accidentId">
								</select>
							</li>

							<li>
								处罚开始时间：<input type="date" name="startTime"/>
							</li>

							<li>
								处罚结束时间：<input type="date" name="stopTime"/>
							</li>

							<li>
								事故描述：<input type="text" name="accidentDescription"/>
							</li>

							<li>
								备注：<input type="text" name="remarks"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bus:accidentRecord:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="bus:accidentRecord:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bus:accidentRecord:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bus:accidentRecord:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('bus:accidentRecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bus:accidentRecord:remove')}]];
        var prefix = ctx + "bus/accidentRecord";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "事故记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userName',
					title : '用户名称’',
					visible: true
				},
				{
					field : 'deptName',
					title : '部门',
					sortable: true
				},
				{
					field : 'punishName',
					title : '处罚方法',
					sortable: true
				},
				{
					field : 'startTime', 
					title : '处罚开始时间',
					sortable: true
				},
				{
					field : 'stopTime', 
					title : '处罚结束时间',
					sortable: true
				},
				{
					field : 'accidentTypeName',
					title : '事故类型',
					sortable: true
				},
				{
					field : 'accidentName',
					title : '事故',
					sortable: true
				},
				{
					field : 'accidentDescription', 
					title : '事故描述',
					sortable: true
				},
				{
					field : 'remarks', 
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.accidentRecordId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.accidentRecordId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);

            $.ajax({
                url: ctx + 'bus/accidentType/json',
                type: 'get',
                data: {},
                success: function (result) {


                    $("#accidentTypeId").empty();
                    $("#accidentTypeId").append('<option value="">请选择</option>')

                    $.each(result.types, function (index, value) {
                        $("#accidentTypeId").append(new Option(value.accidentTypeName, value.accidentTypeId))
                    });

                    $("#accidentTypeId").trigger("change");
                }
            });

            $.ajax({
                url:'/system/dept/json',
                type: 'get',
                data: {},
                success: function (result) {

                    $("#deptId").empty();
                    $("#deptId").append('<option value="">请选择</option>')

                    $.each(result.depts, function (index, value) {
                        $("#deptId").append(new Option(value.deptName, value.deptId))
                    });

                    $("#deptId").trigger("change");
                }
            });

            $("#deptId").change(function () {

                var deptId = $("#deptId").val();

                $.ajax({
                    url: ctx + 'system/user/dept?deptId='+deptId ,
                    type: 'get',
                    success: function(result) {

                        $("#userId").empty();
                        $("#userId").append('<option value="">请选择</option>')

                        $.each(result.users, function (index, value) {
                            $("#userId").append(new Option(value.userName, value.userId))
                        });
                    }
                })
            });

            $.ajax({
                url: ctx + 'bus/punish/json',
                type: 'get',
                data: {},
                success: function (result) {


                    $("#punishId").empty();
                    $("#punishId").append('<option value="">请选择</option>')

                    $.each(result.punishes, function (index, value) {
                        $("#punishId").append(new Option(value.punishName, value.punishId))
                    });

                    $("#punishId").trigger("change");
                }
            });

            $("#punishId").change(function () {

                var punishId = $("#punishId").val();

                $.ajax({
                    url: ctx + 'bus/accident/punish?punishId='+punishId ,
                    type: 'get',
                    success: function(result) {

                        $("#accidentId").empty();
                        $("#accidentId").append('<option value="">请选择</option>')

                        $.each(result.json, function (index, value) {
                            $("#accidentId").append(new Option(value.accidentName, value.accidentId))
                        });
                    }
                })
            });

            $("#accidentTypeId").change(function () {

                var accidentTypeId = $("#accidentTypeId").val();

                $.ajax({
                    url: ctx + 'bus/accident/accidentType?accidentTypeId='+accidentTypeId ,
                    type: 'get',
                    success: function(result) {

                        $("#accidentId").empty();
                        $("#accidentId").append('<option value="">请选择</option>')

                        $.each(result.accidents, function (index, value) {
                            $("#accidentId").append(new Option(value.accidentName, value.accidentId))
                        });
                    }
                })
            });
        });
    </script>
</body>
</html>