<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-accidentRecord-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">用户姓名</label>
				<div class="col-sm-8">
					<select class="form-control" id="userId" name="userId" placeholder="事故类别名">
						<option th:each="sysUser:${sysUsers}" th:value="${sysUser.userId}" th:text="${sysUser.userName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">事故</label>
				<div class="col-sm-8">
					<select class="form-control" id="accidentId" name="accidentId" placeholder="事故名">
						<option th:each="accident:${accidents}" th:value="${accident.accidentId}" th:text="${accident.accidentName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">事故描述：</label>
				<div class="col-sm-8">
					<textarea id="accidentDescription" name="accidentDescription" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remarks" name="remarks" class="form-control" type="text"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">处罚开始时间：</label>
				<div class="col-sm-8">
					<input id="startTime" name="startTime" class="form-control" type="date">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bus/accidentRecord"
		$("#form-accidentRecord-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-accidentRecord-add').serialize());
	        }
	    }
	</script>
</body>
</html>
